* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header begin*/
header {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image:url(./assets/images/clouded-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 999;
    width: 100vw;
    
}

header h1 a {
    font-family: '3dumbregular';
    text-decoration: none;
    font-size: 85px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    margin-left: 30px;
    
}

header a {
    text-decoration: none;
    color: white;
    
    
}

/*navigation begin*/

header nav {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header nav li a {
    padding: 10px 50px;
    font-size: 30px;
    font-weight: lighter;
}

/*hero begin*/

body {
    margin: 0 auto;
    font-family:sans-serif ;
}

.hero {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    background-image: url(./assets/images/clouded-bg.jpg);
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: 80%;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.hero h1 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: -5px;
}

.hero h5 {
    font-size: 30px;
}

.hero .hero-btn {
    display: block;
    width: 200px;
    border: 3px solid rgb(255, 255, 255);
    padding: 16px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.hero-inside img {
    height: 50px;
    margin-top: 20px;
}

/*about me begin*/

.about-me {
    background-color: rgb(160, 159, 158);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding-bottom: 20px;
}

.about-me h5 {
    font-size: 30px;
    margin-top: 60px;
}

.about-me h1 {
    font-size: 60px;
}

.about-me img {
    border-radius: 50%;
    width: 380px;
    height: auto;
    border:0px solid black;
}

.about-me .about-btn {
    display: block;
    width: 200px;
    border: 3px solid rgb(0, 0, 0);
    padding: 16px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/*my work begin*/
.my-work {
    background-color: rgb(31, 29, 29);
    
}

.cards {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}


.cards img {
    width: 100%;
}

.card {
    flex:;
    width: 25%;
    background-color: blanchedalmond;
    margin: 20px;
    
    
}